<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!--连接数据库驱动的位置-->
    <classPathEntry location="${user.home}/.m2/repository/mysql/mysql-connector-java/5.1.48/mysql-connector-java-5.1.48.jar" />

    <context id="mysqlContext" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressDate" value="false"/>
            <property name="suppressAllComments" value="true"/>
            <property name="javaFileEncoding" value="UTF-8"/>
        </commentGenerator>
        <!--mysql数据库连接-->
        <!--nullCatalogMeansCurrent=true这个参数是特地为解决catalog异常问题而配置的-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/cbc_marketing?characterEncoding=UTF-8&amp;useSSL=true&amp;autoReconnect=true&amp;autoReconnectForPools=true"
                        userId="root"
                        password="fzf917">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!--model生成目录-->
        <javaModelGenerator targetPackage="com.fzf.study.infrastructure.adapter.db.mapper" targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/><!--是否让schema作为包的后缀-->
            <property name="trimStrings" value="true"/><!--从数据库返回的值是否清理前后的空格-->
        </javaModelGenerator>

        <!--mapper.xml生成目录-->
        <sqlMapGenerator targetPackage="mapper.mysql" targetProject="src/main/resources">
            <property name="enableSubPackages" value="false"/>
            <!--当useJSR310Types为true时，就会jdbc对应的日期类型会转成java8中的LocateDateTime类型，如果useJSR310Types为false，则还是转成java.util.Date类型-->
            <property name="useJSR310Types" value="true"/>
        </sqlMapGenerator>

        <!--接口生成目录-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.fzf.study.infrastructure.adapter.db.mapper"
                             targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>

        <table schema="cbc_marketing" tableName="idempotent_request_flow" domainObjectName="IdempotentRequestFlowPO" mapperName="IdempotentRequestFlowPOMapper"
           enableCountByExample="false" enableUpdateByExample="false"
           enableDeleteByExample="false" enableSelectByExample="false"
           selectByExampleQueryId="false">
            <property name="useActualColumnNames" value="false"/>
            <ignoreColumn column="gmt_create"/>
            <ignoreColumn column="gmt_modified"/>
        </table>
    </context>
</generatorConfiguration>